<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Arrjay's Portfolio</title>

    <!-- STYLESHEETS -->

    <link rel="stylesheet" href="/styles/styles.css">

    <!-- Jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>

    <!-- Bootstrap css CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional bootstrap theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified bootstrap JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!-- Handlebars CDN -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="/scripts/app.js"></script>
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h1>Under Construction</h1>
          <h4><a href="/api">Read My API Documentation</a></h4>
        </div>
      </div>

      <!-- modal for adding new projects -->
      <div class="row">
        <button type="button" class="btn btn-lg col-xs-2 col-xs-offset-5 new-project-button" data-toggle="modal" data-target="#newClassModal">
          <span class="modal-text">Add New Project</span>
        </button>

        <div class="modal fade" id="newClassModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">New Project</h4>
              </div>
              <div class="modal-body">
                <form class="newProjectForm" class="edit-form" method="put">
                  <input type="hidden" name="id" value={{json._id}}>
                  Project Name:<input class="input-width edit-form" name="name" type="text" placeholder="Name of Project">
                  Project Link:<input class="input-width edit-form" name="projectLink" type="text" placeholder="Link to Project">
                  Project Description:<input class="input-width edit-form-large" name="description" type="textbox" placeholder="Description of the Project">
                  Project Achievement:<input class="input-width edit-form-large" name="achievement" type="textbox" placeholder="Achievement that makes me proud">
                  Technologies Used:<ul>
                    <input type="checkbox" name="techUsed" value="Bike"> Javascript
                    <input type="checkbox" name="techUsed" value="Car"> Jquery
                    <input type="checkbox" name="techUsed" value="Boat"> Handlebars
                  </ul>
                  <input type="submit" value="Save">
                </form>
              </div>
              <div class="modal-footer prepend-button">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Exit</button>


              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12" id="append-projects">

          <!-- Handlesbars template for project thumbnails and modal-->
          <script id="projects-template" type="text/x-handlebars-template">
            <div class="col-md-4 col-sm-6 col-xs-12">
              <!-- <img src="{{json.screenshot}}" alt="sceenshot of {{json.name}}">
              <h3 class="offset-name">{{json.name}}</h3>
              <h5>{{json.tech}}</h5> -->


            <!-- Modal -->
              <button type="button" style="background-image: url({{json.screenshot}})"class="btn btn-primary btn-lg modal-button" data-toggle="modal" data-target="#{{json._id}}">
                <span class="modal-text">{{json.name}}</span>
              </button>
              <div class="modal fade" id="{{json._id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <h4 class="modal-title" id="myModalLabel">{{json.name}}</h4>
                    </div>
                    <div class="modal-body">
                      <img src="{{json.screenshot}}" alt="sceenshot of {{json.name}}">
                      <h5>Description</h5>
                      <p>{{json.description}}</p>
                      <ul class="{{json._id}}"><h5>Technologies Used</h5>
                      </ul>
                      <h5>Achievement</h5>
                      <p>{{json.achievement}}</p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-primary">View {{json.name}}</button>
                      <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#second{{json._id}}">Edit</button>
                      <button type="button" class="btn btn-danger deleteBtn" data-id={{json._id}}>Delete</button>
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>

                <!-- Edit form in modal nested in the modal -->
                <div class="modal fade" id="second{{json._id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">{{json.name}}</h4>
                      </div>
                      <div class="modal-body">
                        <form class="saveChanges" class="edit-form" method="put">
                          <input type="hidden" name="id" value={{json._id}}>
                          Project Name:<input class="input-width edit-form" name="name" type="text" placeholder="Name of Project">
                          Project Link:<input class="input-width edit-form" name="projectLink" type="text" placeholder="Link to Project">
                          Project Description:<input class="input-width edit-form-large" name="description" type="textbox" placeholder="Description of the Project">
                          Project Achievement:<input class="input-width edit-form-large" name="achievement" type="textbox" placeholder="Achievement that makes me proud">
                          Technologies Used:<ul>
                            <input type="checkbox" name="techUsed" value="Bike"> Javascript
                            <input type="checkbox" name="techUsed" value="Car"> Jquery
                            <input type="checkbox" name="techUsed" value="Boat"> Handlebars
                          </ul>
                          <input type="submit" value="Save">
                        </form>
                      </div>
                      <div class="modal-footer prepend-button">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Exit</button>


                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </script>

        </div>
      </div>
    </div>
  </body>
</html>
